In [73]:
def magic_fomular_by_pd(path) :


    # Import pandas module and read excel workbook
    import pandas as pd
    file_path = path
    #C:\\Users\\jongh\\Downloads\\주식 책 데이터\\마법공식 데이터.xlsx
    # Read PER sheet from workbook and filtering data over than 0 and sorting the data as ascending. Add Rank column and assgin rank value.
    per_data = pd.read_excel(file_path, sheet_name = 'PER', index_col = 0)
    filtered_per = per_data[per_data['PER'] > 0]
    sorted_per = filtered_per.sort_values(by = 'PER')
    sorted_per['PER Rank'] = sorted_per['PER'].rank()
    
    
    # Read ROA sheet from workbook and filtering data except empty value. And modify column name to 'ROA', sorting data as descending. Add Rank column and assign rank value
    roa_data = pd.read_excel(file_path, sheet_name = 'ROA', index_col = 0)
    filtered_roa = roa_data.dropna()
    filtered_roa.columns = ['ROA']
    sorted_roa = filtered_roa.sort_values(by = 'ROA', ascending = False)
    sorted_roa['ROA Rank'] = sorted_roa['ROA'].rank(ascending = False)
    
    # Joinning the two data frames into one data frame. 
    total_df = pd.merge(sorted_per, sorted_roa, how = 'inner', left_index = True, right_index = True)
    
    # Add total rank column and sum ROA rank and PER rank in total rank column, assign rank value in each company
    total_df['Total Rank'] = (total_df['PER Rank'] + total_df['ROA Rank'])
    total_rank = total_df.sort_values(by = 'Total Rank')
    total_rank['Total Rank'] = total_rank['Total Rank'].rank()

    return total_rank

magic_fomular_by_pd('C:\\Users\\jongh\\Downloads\\주식 책 데이터\\마법공식 데이터.xlsx')

              PER  PER Rank    ROA  ROA Rank  Total Rank
Company
서한           3.22      22.0  23.65      25.0         1.0
골프존          4.19      38.0  24.77      21.0         2.0
동원개발         4.41      42.0  23.62      26.0         3.0
오가닉티코스메틱     5.11      66.5  44.06       3.0         4.0
모베이스         4.49      45.0  20.03      52.0         5.0
...           ...       ...    ...       ...         ...
SCI평가정보   3662.70    1390.0  -6.80    1734.0      1247.0
덕양산업       424.93    1358.0  -8.46    1773.0      1248.0
디비케이       119.68    1281.0 -14.23    1863.0      1249.0
이루온        197.50    1328.0 -13.28    1847.0      1250.0
감마누        395.36    1355.0 -22.41    1893.0      1251.0

[1251 rows x 5 columns]